<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="bg"></div>

    <div class="loader-bg" id="preloader">
        <div class="banter-loader">
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
            <div class="banter-loader__box"></div>
        </div>
    </div>

    <div id="fullpage">

        <header id="header" class="header">
            <div class="container-fluid">
                <img class="header__logo" src="assets/images/logo.png">
                <div class="header__nav">
                    <a class="header__nav-link"></a>
                    <div class="header__nav-secondblock">
                        <a href="" class="header__nav-link header__nav-link--right header__nav-link--before">МАГАЗИН</a>
                        <a href="" class="header__nav-link header__nav-link--right">ФОРУМ</a>
                        <a href="" class="header__nav-link header__nav-link--img">
                            <img src="assets/images/icons/login.png" alt="login">
                        </a>
                    </div>
                </div>

            </div>
        </header>

        <div class="section" id="section0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-5 anim-down">
                        <h4>НОВЫЙ МИР В GTA5 С РЕЖИМОМ</h4>
                        <div class="intro__logo">
                            <img src="assets/images/home-headline.png" alt="">
                        </div>

                        <div class="intro__footer">
                            <a href="" class="intro__btn">

                                Как начать играть
                                <img src="assets/images/icons/arrow-right.png" alt="">
                            </a>
                            <div class="intro__info">
                                <div class="info__img">
                                    <img src="assets/images/icons/players-online.png" alt="">
                                </div>
                                <div class="info__text">
                                    Сейчас играют
                                    <div class="info__online">10000</div>
                                </div>
                                
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid fixed-bottom water-wrap">
                        <div class="col-md-12">

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="section1">
            <div class="container-fluid">
                <div class="title">КАК НАЧАТЬ ИГРАТЬ</div>
                <div class="row" style="margin-bottom: 150px;">
                    <div class="guid">
                        <div class="guid__col">
                            <div class="guid__inner guid__inner--1">
                                <div class="guid__header">
                                    <div class="guid__step">1</div>
                                    <div class="guid__title">Шаг</div>
                                </div>
                                <div class="guid__content">
                                    Купить лицензионную GTA 5.<br>
                                    Если игра куплена, то следующий шаг.
                                </div>
                                <div class="guid__footer">
                                    <a href="" class="guid__btn">
                                        Купить в Epic Games
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="guid__col">
                            <div class="guid__inner guid__inner--2">
                                <div class="guid__header">
                                    <div class="guid__step">2</div>
                                    <div class="guid__title">Шаг</div>
                                </div>
                                <div class="guid__content">
                                    Установить и запустить<br>
                                    GTA5RP Launcher (RAGE MP)
                                </div>
                                <div class="guid__footer guid__footer--2">
                                    <a href="" class="guid__btn">
                                        Скачать файл
                                    </a>
                                </div>
                                <div class="footer__decbox"></div>
                            </div>
                        </div>
                        <div class="guid__col">
                            <div class="guid__inner guid__inner--3">
                                <div class="guid__header">
                                    <div class="guid__step">1</div>
                                    <div class="guid__title">Шаг</div>
                                </div>
                                <div class="guid__content">
                                    Купить лицензионную GTA 5.<br>
                                    Если игра куплена, то следующий шаг.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="slider">
                        <div class="slider__wrapper">
                            <div class="slider__item slider__item--Downtown">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/downtown-small.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">Downtown</div>
                                        <div class="server__online">1688/1700</div>
                                    </div>
                                </div>

                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 99%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                    
                                </div>
                                
                            </div><!-- ./slider__item -->
        
                            <div class="slider__item slider__item--StrawBerry">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/strawberry-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">StrawBerry</div>
                                        <div class="server__online">1512/1700</div>
                                    </div>
                                </div>

                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 88%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                    
                                </div>
                                
                            </div><!-- ./slider__item -->
        
                            <div class="slider__item slider__item--VineWood">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/vinewood-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">VineWood</div>
                                        <div class="server__online">1220/1700</div>
                                    </div>
                                </div>

                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 71%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                    
                                </div>
                                
                            </div><!-- ./slider__item -->

                            <div class="slider__item slider__item--BlackBerry">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/blackberry-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">BlackBerry</div>
                                        <div class="server__online">607/1700</div>
                                    </div>
                                </div>

                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 35%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                    
                                </div>
                                 
                            </div><!-- ./slider__item -->
                                                         
                            <div class="slider__item slider__item--InSquad">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/mj.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">InSquad</div>
                                        <div class="server__online">446/1700</div>

                                    </div>                                        
                                    
                                </div>
                            
                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 26%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                    
                                </div>
                                 
                            </div><!-- ./slider__item -->

                                                        
                            <div class="slider__item slider__item--Sunrise">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/sunrise-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">Sunrise</div>
                                        <div class="server__online">380/1700</div>
                                    </div>                                        
                                    
                                </div>
                            
                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 22%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                    
                                </div>
                                 
                            </div><!-- ./slider__item -->

                                                        
                            <div class="slider__item slider__item--Rainbow">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/rainbow-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">Rainbow</div>
                                        <div class="server__online">429/1700</div>
                                    </div>                                        
                           
                                </div>
                            
                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 25%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                </div>
                                 
                            </div><!-- ./slider__item -->

                                                        
                            <div class="slider__item slider__item--Richman">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/richman-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">Richman</div>
                                        <div class="server__online">375/1700</div>
                                    </div>                                        
                           
                                </div>
                            
                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 22%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                </div>
                                 
                            </div><!-- ./slider__item -->

                                                        
                            <div class="slider__item slider__item--Eclipse">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/eclipse-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">Eclipse</div>
                                        <div class="server__online">876/1700</div>
                                    </div>                                        
                           
                                </div>
                            
                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 51%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                </div>
                                 
                                 
                            </div><!-- ./slider__item -->

                                                        
                            <div class="slider__item slider__item--LaMesa">
        
                                <div class="server__header">
                                    <img src="assets/images/icons/lamesa-icon.png" alt="">
                                    <div class="server__info">
                                        <div class="server__name">LaMesa</div>
                                        <div class="server__online">456/1700</div>
                                    </div>                                        
                           
                                </div>
                            
                                <div class="server__connect">
                                    <div class="connect__online">
                                        <div class="online__fill" style="width: 26%;"></div>
                                    </div>
                                    <div>
                                        <a href="" class="connect__button">Копировать IP</a>
                                    </div>
                                </div>
                                 
                            </div><!-- ./slider__item -->

                        </div>
                        <div class="slider__nav">

                            <a class="slider__control slider__control_left" href="#" role="button">
                            </a>
                            <a class="slider__control slider__control_right" href="#" role="button"></a>  

                        </div> 
                    </div><!-- ./slider -->   



                </div>
            </div>
        </div>

        <div class="section" id="section2">
            <div class="container-fluid">
                <div class="title">ПОСЛЕДНИИ НОВОСТИ</div>
                <div class="row">
                    <div class="news">
                        <div class="news__inner">
                            <div class="article__col">
                                <div class="article">
                                    <div class="article__header">
                                        <img class="article__img" src="assets/images/wADCOvr.png" alt="">
                                    </div>
                                    <div class="dectitle">Новости</div>
                                    <div class="article__content">
                                        <div class="article__title">
                                            ОБНОВЛЕНИЯ, КОТОРЫЕ СОГРЕВАЮТ!
                                        </div>
                                        <div class="article__text">
                                            Команда GTA5RP рада представить Вам новые обновления, которые уже загружены на все сервера проекта!
                                        </div>
                                    </div>
                                    <div class="article__footer">
                                        <a href="" class="article__more">
                                            Подробнее
                                            <img src="assets/images/icons/arrow-right.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="article__col">
                                <div class="article">
                                    <div class="article__header">
                                        <img class="article__img" src="assets/images/qkXAs4c.png" alt="">
                                    </div>
                                    <div class="dectitle">Новости</div>
                                    <div class="article__content">
                                        <div class="article__title">
                                            НОВЫЕ ПРИЧЕСКИ УЖЕ В ИГРЕ!
                                        </div>
                                        <div class="article__text">
                                            Теперь индивидуальность своего персонажа можно подчеркнуть новым выбором причесок!
                                        </div>
                                    </div>
                                    <div class="article__footer">
                                        <a href="" class="article__more">
                                            Подробнее
                                            <img src="assets/images/icons/arrow-right.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="article__col">
                                <div class="article">
                                    <div class="article__header">
                                        <img class="article__img" class="article__img" src="assets/images/SUrZyKT.png" alt="">
                                    </div>
                                    <div class="dectitle">Новости</div>
                                    <div class="article__content">
                                        <div class="article__title">
                                            ПОЖАРНЫЕ И ПРОЧИЕ НОВОВВЕДЕНИЯ!
                                        </div>
                                        <div class="article__text">
                                            Заждались новостей? Тогда не будем многословны, отметим, что обновления уже загружены на все сервера GTA5RP, поэтому самое время прикоснуться к ним лично, ведь посмотреть действительно есть на что
                                        </div>
                                    </div>
                                    <div class="article__footer">
                                        <a href="" class="article__more">
                                            Подробнее
                                            <img src="assets/images/icons/arrow-right.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section" id="section3">
            <div class="container-fluid">
                <div class="title">ПРИСОЕДИНЯЙТЕСЬ К НАМ</div>
                <div class="row">

                    <div class="contacts">
                        <div class="contacts__inner">

                            <div class="contact__col">
                                <div class="contact contact--first">

                                    <div class="contact__header">
                                        <div class="contact__deccircle contact__deccircle--first" data-count="419264">
                                            <img src="assets/images/icons/circle1.png" alt="">
                                            <div class="contact__info">
                                                <div class="contact__firsttitle contact__firsttitle--first">ГРУППА</div>
                                                <div class="contact__secondtitle">VK.COM</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contact__maintitle">ОФИЦИАЛЬНАЯ ГРУППА VK</div>

                                    <div class="contact__footer">
                                        <a href="" class="contact__btn contact__btn--first">
                                            ПОДПИСАТЬСЯ
                                            <img style="margin-left: 1rem;" src="assets/images/icons/arrow-right.png" alt="">
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="contact__col">
                                <div class="contact contact--second">

                                    <div class="contact__header">
                                        <div class="contact__deccircle contact__deccircle--second" data-count="31664">
                                            <img src="assets/images/icons/circle2.png" alt="">
                                            <div class="contact__info">
                                                <div class="contact__firsttitle contact__firsttitle--second">ГРУППА</div>
                                                <div class="contact__secondtitle">VK.COM</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contact__maintitle">СВОБОДНАЯ ГРУППА VK</div>

                                    <div class="contact__footer">
                                        <a href="" class="contact__btn contact__btn--second">
                                            ПОДПИСАТЬСЯ
                                            <img style="margin-left: 1rem;" src="assets/images/icons/arrow-right.png" alt="">
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="contact__col">
                                <div class="contact contact--third">

                                    <div class="contact__header">
                                        <div class="contact__deccircle contact__deccircle--third" data-count="61174">
                                            <img src="assets/images/icons/circle3.png" alt="">
                                            <div class="contact__info">
                                                <div class="contact__firsttitle contact__firsttitle--third">КАНАЛ</div>
                                                <div class="contact__secondtitle">DISCORD</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contact__maintitle">СЕРВЕР DISCORD</div>

                                    <div class="contact__footer">
                                        <a href="" class="contact__btn contact__btn--third">
                                            ПОДПИСАТЬСЯ
                                            <img style="margin-left: 1rem;" src="assets/images/icons/arrow-right.png" alt="">
                                        </a>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <div class="row">

                    <footer class="footer">
                        <div class="footer__inner">

                            <div class="footer__main">
                                <div class="footer__nav">
                                    <div class="footer__logo" style="margin-right: 1rem;">
                                        <img src="assets/images/logo.png" alt="">
                                    </div>
                                    <a class="footer__nav-link" style="margin-right: 1rem;">ФОРУМ</a>
                                    <a class="footer__nav-link">МАГАЗИН</a>
                                </div>
                                <div class="footer__docs">
                                    <a class="doc__link">Пользовательское соглашение</a>
                                    <a class="doc__link">Политика защиты персональной информации</a>
                                </div>
                            </div>
                            <div class="footer__intro">
                                GTA 5 RP — новый уровень онлайн-игр. Играй
                                бандитом или полицейским, чиновником или медиком, мафией или сотрудником ФБР.
                                
                                Прочувствуй атмосферу удивительного мира ролевой игры с реалистичным миром на ГТА РП!
                            </div>

                        </div>
                    </footer>

                </div>

            </div>
        </div>
    </div>
    
    <div class="app">
        <header class="header">
            <div class="container">
                <div class="header__inner">

                    <div class="header__logo">
                        <img src="assets/images/logo.png" alt="">
                    </div>
                    <button class="hamburger">&#9776;</button>
                    <button class="cross">&#735;</button>
                    <div class="header__hamburger-menu">
                        <ul>
                            <a href="#"><li>МАГАЗИН</li></a>
                            <a href="#"><li>КУПИТЬ GTA 5</li></a>
                            <a href="#"><li>ФОРУМ</li></a>
                          </ul>
                    </div>

                </div>
            </div>
        </header>

        <div class="intro">
            <div class="container">
                <div class="intro__inner">

                    <div class="intro__title">НОВЫЙ МИР В GTA 5 С РЕЖИМОМ</div>
                    <div class="intro__logo">
                        <img class="intro__logo-img" src="assets/images/home-headline.png" alt="">
                    </div>
                    <div class="intro__bnt">
                        <a href="" class="intro__btn-link">
                            Как начать играть
                            <img style="transform: translateX(15px);" src="assets/images/icons/arrow-right.png" alt="">
                        </a>
                    </div>
                    <div class="intro__info">
                        <div class="info__img">
                            <img src="assets/images/icons/players-online.png" alt="">
                        </div>
                        <div class="info__text">
                            Сейчас играют
                            <div class="info__online">10000</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="guid">
            <div class="container">
                <div class="title">КАК НАЧАТЬ ИГРАТЬ</div>
                <div class="guidmain">

                    <div class="guid__col">
                        <div class="guid__inner guid__inner--1">
                            <div class="guid__header">
                                <div class="guid__step">1</div>
                                <div class="guid__title">Шаг</div>
                            </div>
                            <div class="guid__content">
                                Купить лицензионную GTA 5.<br>
                                Если игра куплена, то следующий шаг.
                            </div>
                            <div class="guid__footer">
                                <a href="" class="guid__btn">
                                    Купить в Epic Games
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="guid__col">
                        <div class="guid__inner guid__inner--2">
                            <div class="guid__header">
                                <div class="guid__step">2</div>
                                <div class="guid__title">Шаг</div>
                            </div>
                            <div class="guid__content">
                                Установить и запустить<br>
                                GTA5RP Launcher (RAGE MP)
                            </div>
                            <div class="guid__footer guid__footer--2">
                                <a href="" class="guid__btn">
                                    Скачать файл
                                </a>
                            </div>
                            <div class="footer__decbox"></div>
                        </div>
                    </div>
                    <div class="guid__col">
                        <div class="guid__inner guid__inner--3">
                            <div class="guid__header">
                                <div class="guid__step">1</div>
                                <div class="guid__title">Шаг</div>
                            </div>
                            <div class="guid__content">
                                Купить лицензионную GTA 5.<br>
                                Если игра куплена, то следующий шаг.
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="srevers">
            <div class="container">
                <div class="title">СЕРВЕРА</div>
                <div class="servers__inner">

                    <div class="servers__col">
                        <div class="servers__item servers__item--Downtown">
                            <div class="server__header">
                                <img src="assets/images/icons/downtown-small.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">Downtown</div>
                                    <div class="server__online">1688/1700</div>
                                </div>
                            </div>

                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 99%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--StrawBerry">

                            <div class="server__header">
                                <img src="assets/images/icons/strawberry-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">StrawBerry</div>
                                    <div class="server__online">1512/1700</div>
                                </div>
                            </div>

                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 88%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--VineWood">

                            <div class="server__header">
                                <img src="assets/images/icons/vinewood-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">VineWood</div>
                                    <div class="server__online">1220/1700</div>
                                </div>
                            </div>

                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 71%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--BlackBerry">

                            <div class="server__header">
                                <img src="assets/images/icons/blackberry-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">BlackBerry</div>
                                    <div class="server__online">607/1700</div>
                                </div>
                            </div>

                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 35%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--InSquad">

                            <div class="server__header">
                                <img src="assets/images/icons/mj.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">InSquad</div>
                                    <div class="server__online">446/1700</div>

                                </div>                                        
                                
                            </div>
                        
                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 26%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--Sunrise">

                            <div class="server__header">
                                <img src="assets/images/icons/sunrise-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">Sunrise</div>
                                    <div class="server__online">380/1700</div>
                                </div>                                        
                                
                            </div>
                        
                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 22%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--Rainbow">

                            <div class="server__header">
                                <img src="assets/images/icons/rainbow-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">Rainbow</div>
                                    <div class="server__online">429/1700</div>
                                </div>                                        
                       
                            </div>
                        
                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 25%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--Richman">

                            <div class="server__header">
                                <img src="assets/images/icons/richman-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">Richman</div>
                                    <div class="server__online">375/1700</div>
                                </div>                                        
                       
                            </div>
                        
                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 22%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--Eclipse">

                            <div class="server__header">
                                <img src="assets/images/icons/eclipse-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">Eclipse</div>
                                    <div class="server__online">876/1700</div>
                                </div>                                        
                       
                            </div>
                        
                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 51%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="servers__col">
                        <div class="servers__item servers__item--LaMesa">

                            <div class="server__header">
                                <img src="assets/images/icons/lamesa-icon.png" alt="">
                                <div class="server__info">
                                    <div class="server__name">LaMesa</div>
                                    <div class="server__online">456/1700</div>
                                </div>                                        
                       
                            </div>
                        
                            <div class="server__connect">
                                <div class="connect__online">
                                    <div class="online__fill" style="width: 26%;"></div>
                                </div>
                                <div>
                                    <a href="" class="connect__button">Копировать IP</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="news">
            <div class="container">
                <div class="title">ПОСЛЕДНИИ НОВОСТИ</div>
                <div class="news__inner">
                    <div class="article__col">
                        <div class="article">
                            <div class="article__header">
                                <img class="article__img" src="assets/images/wADCOvr.png" alt="">
                            </div>
                            <div class="dectitle">Новости</div>
                            <div class="article__content">
                                <div class="article__title">
                                    ОБНОВЛЕНИЯ, КОТОРЫЕ СОГРЕВАЮТ!
                                </div>
                                <div class="article__text">
                                    Команда GTA5RP рада представить Вам новые обновления, которые уже загружены на все сервера проекта!
                                </div>
                            </div>
                            <div class="article__footer">
                                <a href="" class="article__more">
                                    Подробнее
                                    <img src="assets/images/icons/arrow-right.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="article__col">
                        <div class="article">
                            <div class="article__header">
                                <img class="article__img" src="assets/images/qkXAs4c.png" alt="">
                            </div>
                            <div class="dectitle">Новости</div>
                            <div class="article__content">
                                <div class="article__title">
                                    НОВЫЕ ПРИЧЕСКИ УЖЕ В ИГРЕ!
                                </div>
                                <div class="article__text">
                                    Теперь индивидуальность своего персонажа можно подчеркнуть новым выбором причесок!
                                </div>
                            </div>
                            <div class="article__footer">
                                <a href="" class="article__more">
                                    Подробнее
                                    <img src="assets/images/icons/arrow-right.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="article__col">
                        <div class="article">
                            <div class="article__header">
                                <img class="article__img" class="article__img" src="assets/images/SUrZyKT.png" alt="">
                            </div>
                            <div class="dectitle">Новости</div>
                            <div class="article__content">
                                <div class="article__title">
                                    ПОЖАРНЫЕ И ПРОЧИЕ НОВОВВЕДЕНИЯ!
                                </div>
                                <div class="article__text">
                                    Заждались новостей? Тогда не будем многословны, отметим, что обновления уже загружены на все сервера GTA5RP, поэтому самое время прикоснуться к ним лично, ведь посмотреть действительно есть на что
                                </div>
                            </div>
                            <div class="article__footer">
                                <a href="" class="article__more">
                                    Подробнее
                                    <img src="assets/images/icons/arrow-right.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contacts">
            <div class="container">
                <div class="title">ПРИСОЕДИНЯЙТЕСЬ К НАМ</div>
                <div class="contacts__inner">

                    <div class="contact__col">
                        <div class="contact contact--first">

                            <div class="contact__header">
                                <div class="contact__deccircle contact__deccircle--first" data-count="419264">
                                    <img src="assets/images/icons/circle1.png" alt="">
                                    <div class="contact__info">
                                        <div class="contact__firsttitle contact__firsttitle--first">ГРУППА</div>
                                        <div class="contact__secondtitle">VK.COM</div>
                                    </div>
                                </div>
                            </div>

                            <div class="contact__maintitle">ОФИЦИАЛЬНАЯ ГРУППА VK</div>

                            <div class="contact__footer">
                                <a href="" class="contact__btn contact__btn--first">
                                    ПОДПИСАТЬСЯ
                                    <img style="margin-left: 1rem;" src="assets/images/icons/arrow-right.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="contact__col">
                        <div class="contact contact--second">

                            <div class="contact__header">
                                <div class="contact__deccircle contact__deccircle--second" data-count="31664">
                                    <img src="assets/images/icons/circle2.png" alt="">
                                    <div class="contact__info">
                                        <div class="contact__firsttitle contact__firsttitle--second">ГРУППА</div>
                                        <div class="contact__secondtitle">VK.COM</div>
                                    </div>
                                </div>
                            </div>

                            <div class="contact__maintitle">СВОБОДНАЯ ГРУППА VK</div>

                            <div class="contact__footer">
                                <a href="" class="contact__btn contact__btn--second">
                                    ПОДПИСАТЬСЯ
                                    <img style="margin-left: 1rem;" src="assets/images/icons/arrow-right.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="contact__col">
                        <div class="contact contact--third">

                            <div class="contact__header">
                                <div class="contact__deccircle contact__deccircle--third" data-count="61174">
                                    <img src="assets/images/icons/circle3.png" alt="">
                                    <div class="contact__info">
                                        <div class="contact__firsttitle contact__firsttitle--third">КАНАЛ</div>
                                        <div class="contact__secondtitle">DISCORD</div>
                                    </div>
                                </div>
                            </div>

                            <div class="contact__maintitle">СЕРВЕР DISCORD</div>

                            <div class="contact__footer">
                                <a href="" class="contact__btn contact__btn--third">
                                    ПОДПИСАТЬСЯ
                                    <img style="margin-left: 1rem;" src="assets/images/icons/arrow-right.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

        
        <footer class="footer">
            <div class="footer__inner">

                <div class="footer__main">
                    <div class="footer__nav">
                        <div class="footer__logo" style="margin-right: 1rem;">
                            <img src="assets/images/logo.png" alt="">
                        </div>
                        <a class="footer__nav-link" style="margin-right: 1rem;">ФОРУМ</a>
                        <a class="footer__nav-link">МАГАЗИН</a>
                    </div>
                    <div class="footer__docs">
                        <a class="doc__link">Пользовательское соглашение</a>
                        <a class="doc__link">Политика защиты персональной информации</a>
                    </div>
                </div>
                <div class="footer__intro">
                    GTA 5 RP — новый уровень онлайн-игр. Играй
                    бандитом или полицейским, чиновником или медиком, мафией или сотрудником ФБР.
                    
                    Прочувствуй атмосферу удивительного мира ролевой игры с реалистичным миром на ГТА РП!
                </div>

            </div>
        </footer>

    </div>
    

    <script src="assets/js/jq.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="assets/js/hamburger-menu.js"></script>

</body>
</html>